
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Dawning of a New Day', cursive;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#canvas{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items:center;
}

button{
  width: 5vw;
  height: 5vh;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;  
  margin-bottom: 10px;
  justify-content: center;
  align-items:center;
}

.myTitle{
  font-size: 36pt;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#label-container{
  margin-top: 20px;
  font-size: 24px;
}